<ion-header>
</ion-header>

<ion-content>
  <ion-searchbar show-clear-button="focus"></ion-searchbar>
 <br>
  <ion-button href="/menu" color="success" expand="block">IDGS</ion-button>
  <ion-button href="/menu" color="success" expand="block">GASTRONOMIA</ion-button>
  <ion-button href="/menu" color="success" expand="block">TURISMO</ion-button>
  <ion-button href="/menu" color="success" expand="block">INDUSTRIAL</ion-button>
  <ion-button href="/menu" color="success" expand="block">SEGURIDAD PUBLICA</ion-button>
  <ion-button href="/noticias" color="success" expand="block">MAS NOTICIAS</ion-button>
  <ion-toolbar>
    <ion-button color="dark" slot="start" href="/menu" fill="clear">
      <ion-icon name="ice-cream-outline"></ion-icon>
  </ion-button>
  <div class="centrar-boton-ionic"> 
      <ion-button color="dark" href="/menu" fill="clear">
        <ion-icon name="beer-outline"></ion-icon>
    </ion-button>
    </div>

    <ion-button color="dark" slot="end" href="/menu" fill="clear">
      <ion-icon name="pizza-outline"></ion-icon>
  </ion-button>
</ion-toolbar>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="dark" slot="start" href="/inicio" fill="clear">
    <ion-icon name="home"></ion-icon>
  </ion-button>
    <div class="centrar-boton-ionic"> 
      <ion-button color="dark" href="/categorias" fill="clear">
    <ion-icon name="search-circle-outline"></ion-icon>
    </ion-button>
    </div>
    <ion-button color="dark" slot="end" href="menu" fill="clear">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-button>
  </ion-toolbar>
</ion-footer>

