ion-button {
    --background: #6ab160;
    --background-hover: #6ab160;
    --background-activated:#6ab160;
    --background-focused: #6ab160;
  
    --color: green;
  
    --border-radius: 0;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: deeppink;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }
  